<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jup.jupging.domain.plogging.mapper.PloggingMapper">

	<select id="findMyPlogging" resultType="com.jup.jupging.domain.plogging.dto.PloggingDto" parameterType="long">
		SELECT  p.PLOGGING_ID AS ploggingId,
			    p.TRAIL_ID AS trailId,
				p.MEMBER_ID AS memberId,
				p.PLOGGING_DATE AS ploggingDate2,
				p.PLOGGING_TIME AS ploggingTime,
				p.DISTANCE AS distance,
				p.START_LAT AS startLat,
				p.START_LNG AS startLng,
				p.IMAGE_URL AS image,
				t.TRAIL_NAME AS trailName,
				t.TRAIL_TYPE_NAME AS trailTypeName
		FROM PLOGGING p
		LEFT JOIN TRAIL t on t.TRAIL_ID = p.TRAIL_ID
		WHERE p.MEMBER_ID = #{memberId}
		ORDER BY p.PLOGGING_DATE DESC
	</select>
	
</mapper>
